<div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-content">
      <a href="../game">Home</a>
      <a href="../rps">Rock Paper Scissors</a>
    </div>
  </div>

  <div class="container" style="text-align: center" id="headings">
    <h1>Tic-Tac-Toe!</h1>
    <h4>The object of Tic Tac Toe is to get three in a row. </h4>
    <h3>Rules of Tic-Tac-Toe</h3>
</div>
<div class="container" style="text-align:left" id="ruleslist">
    <ol>
        <li>The first player is known as X. </li>
        <li>The second player is known as O. </li>
        <li>X always goes first </li>
        <li>Alternate placing Xs and Os on the game board until either opponent has three in a row or all nine
            squares
            are filled. </li>
        <li>In the event that no one has three in a row, the stalemate is called a cat game, or a draw.</li>
    </ol>
</div>
</div>