
body{
    background-color: blueviolet;
}

h1, h3 {
    text-align: center;
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}

.container{
    padding-top: 25px;
    padding-left: 150px;
    image-orientation: center;
}
