<div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-content">
      <a href="../game">Home</a>
      <a href="../ttt">Tic Tac Toe</a>
    </div>
  </div>
  <div id="headings">
    <h1>Rock - Paper - Scissors!</h1>
    <h4>The game is played where players deliver hand signals that will represent the elements of the game.</h4>
    <h3>Rules of<br>Rock - Paper - Scissors</h3>
  </div>
  <div class="container1-2" id="ruleslist">
    <ol>
      <li>Rock wins against scissors. </li>
      <li>Scissors win against paper. </li>
      <li>Paper wins against rock.</li>
    </ol>
  </div>
  <header>
    <h1>Rock - Paper - Scissors</h1>
  </header>
  <div class="score-board">
    <div id="user-tag" class="label">user</div>
    <div id="computer-tag" class="label">comp</div>
    <span id="user-score">0</span>:<span id="computer-score">0</span>
  </div>
  <div class="results">
    <p>Paper covers rock. You Win!</p>
  </div>
  <div class="choices">
    <div class="choice" id="r">
      <img src="../../assets/photos/rock.png" alt="">
    </div>
    <div class="choice" id="p">
      <img src="../../assets/photos/paper.png" alt="">
    </div>
    <div class="choice" id="s">
      <img src="../../assets/photos/Scissors.png" alt="">
    </div>
  </div>
  <div>
    <p id="action-message">Make a move</p>
  </div>
</div>